.filepath-state
.openpublishing.build.ps1
.openpublishing.publish.config.json
.translation-state
localization-archive-report.md
localization-handback-report.md
localization-handoff-report.md
localization-report.md
